.welcome-hero {
  z-index: 2;

  .cart-list {
    border: 2px solid red;
  }


  .username {
    width: fit-content;
    // font-weight: 400;

    span {
      color: #e99c2e;
    }

    &:hover {
      cursor: default;
    }
  }

  .icon {
    .iconDetail {
      visibility: hidden;
    }
    &:hover .iconDetail{
      visibility: visible;
    }
  }

  .navbar-brand {
    img {
      width: 40px;
      margin-top: -25px;
    }
  }
}
